.root{
	-fx-pref-height: 600px; 
	-fx-pref-width: 400px;
	-fx-background-color: #273746;
	-fx-alignment: CENTER;
	-fx-spacing: 20px;	
	-fx-padding: 10px 10px 10px 10px;
}
.tree-view{
	-fx-focus-color: #1C2833;
	-fx-pref-height: 450px; 
	-fx-pref-width: 400px;
	-fx-background-color: #1C2833 ;
}
.tree-cell {
    -fx-background-color: #1C2833 ;
    -fx-text-fill: #ffffff ;
}
.tree-cell:selected {
	-fx-background-color: #273746;
    -fx-font-weight: bold ;
}
.tree-cell:hover{
	-fx-opacity: .9;
}
.button{
	-fx-background-color: #1C2833;
	-fx-text-fill: #ffffff;
	-fx-font-size: 25px;
}
.label{
	-fx-text-fill: #ffffff;
	-fx-font-size: 15px
}