.root{
	-fx-background-color: #273746;
}
.label{
	-fx-text-fill: #ffffff;
	-fx-font-size: 20px;
	-fx-alignment: CENTER;
	-fx-padding: 7px 40px 7px 40px;
}
.image-view:hover{
	-fx-opacity: .5;
}
#left{
	-fx-pref-height: 600px; 
	-fx-pref-width: 250px;
	-fx-background-color: #1C2833;
	-fx-spacing: 10px;
	-fx-padding: 10px 10px 10px 10px;
}
#right{
	-fx-pref-height: 600px; 
	-fx-pref-width: 250px;
	-fx-background-color: #1C2833;
}
.online-dir-label{
	-fx-pref-height: 90px; 
	-fx-pref-width: 250px;
	-fx-font-size: 30px;
	-fx-padding: 0px 0px 0px 0px;	
}
.tree-view,.list-view{
	-fx-focus-color: #1C2833;
	-fx-pref-height: 400px; 
	-fx-pref-width: 250px;
	-fx-background-color: #1C2833 ;
}
.tree-cell {
    -fx-background-color: #1C2833 ;
    -fx-text-fill: #ffffff ;
}
.tree-cell:selected {
	-fx-background-color: #273746;
    -fx-font-weight: bold ;
}
.tree-cell:hover{
	-fx-opacity: .9;
}
.list-cell {
    -fx-background-color: #1C2833 ;
    -fx-text-fill: #ffffff ;
}
.list-cell:selected {
	-fx-background-color: #273746;
    -fx-font-weight: bold ;
}
.list-cell:hover{
	-fx-opacity: .9;
}
#info-label{
	-fx-font-size: 15px;
	-fx-pref-height: 60px; 
	-fx-pref-width: 250px;
	-fx-padding: 0px 0px 0px 0px;
}
#center{
	-fx-pref-height: 600px; 
	-fx-pref-width: 800px;
	-fx-alignment: CENTER;
}
#selected-file{
	-fx-font-weight: bold ;
	-fx-pref-height: 80px; 
	-fx-pref-width: 800px;
	-fx-font-size: 38px;
	-fx-padding: 0px 0px 0px 0px;
	-fx-alignment: CENTER;
}
#info-box{
	-fx-pref-height: 500px; 
	-fx-pref-width: 800px;
	-fx-padding: 10px 10px 10px 10px;
}
#meta-info_label{
	-fx-background-color: #1C2833;
	-fx-pref-height: 20px; 
	-fx-pref-width: 800px;
	-fx-font-size: 13px;
	-fx-padding: 0px 0px 0px 0px;	
}









